In [41]:
import requests
import json
import pandas as pd

In [38]:
url = "https://www.kfckorea.com/kfc/interface/selectStoreList"
data = {"device":"WEB","store_search":"","sido_search":"A0181",
        "gugun_search":"","show_search":"Y","store_show_type":"",
        "sales_code_search":"","initYn":"N","lat_search":"","lng_search":"",
        "rows":"200"}
response = requests.post(url,data = data)
korea_kfc = response.json()['rows']
print(len(korea_kfc))

146

In [45]:
korea_kfc[2]['store_address_sido']

'서울'

In [54]:
df = pd.DataFrame()
for kfc in korea_kfc:
    try:
        name    = kfc['store_name']
        si      = kfc['store_address_sido']
        gu      = kfc['store_address_gugun']
        address = kfc['store_new_address']
        lat     = kfc['store_latitude']
        lng     = kfc['store_longitude']
        if si == "서울":
            x = pd.Series([name,si,gu,address,lat,lng])
            df = df.append(x,ignore_index=True)
        else:
            pass
    except:
        pass

In [56]:
df2 = df.set_axis(["지점명","시","구","주소","위도","경도"],1,inplace=False)
df2

C:\Users\jjp75\AppData\Local\Temp/ipykernel_40396/324243038.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.set_axis except for the argument 'labels' will be keyword-only
  df2 = df.set_axis(["지점명","시","구","주소","위도","경도"],1,inplace=False)

        지점명   시    구                                주소         위도          경도
0       보라매  서울  동작구  서울 동작구 보라매로5가길 7 (신대방동, 캐릭터 그린빌)  37.491892  126.925156
1       석계역  서울  노원구             서울 노원구 석계로1길 14 (월계동)  37.615555  127.063914
2      숙대입구  서울  용산구             서울 용산구 한강대로 297 (갈월동)  37.544758  126.971684
3     명일DI점  서울  강동구            서울 강동구 양재대로 1651 (명일동)  37.552955  127.143801
4    신정네거리역  서울  양천구              서울 양천구 중앙로 277 (신정동)  37.520925  126.852250
..      ...  ..  ...                               ...        ...         ...
68      광화문  서울  종로구            서울 종로구 세종대로23길 7 (세종로)  37.571540  126.975948
69      광장동  서울  광진구             서울 광진구 광나루로 604 (구의동)  37.541578  127.094914
70      개롱역  서울  송파구              서울 송파구 오금로 404 (가락동)  37.497593  127.135122
71  강남고속터미널  서울  서초구             서울 서초구 신반포로 189 (잠원동)  37.506545  127.004868
72    가산디지털  서울  금천구          서울 금천구 가산디지털1로 186 (가산동)  37.481913  126.881581

[73 rows x 6 columns]

In [58]:
df2.to_csv("seoul_kfc.csv")