In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [13]:
def naver_map_crawler(gu ,search, page):
    url = "https://map.naver.com/v5/api/search?"
    payload = {
        "caller": "pcweb",
        "query": gu + search,
        "type": "all",
        "searchCoord": "",
        "page": page,
        "displayCount": 20,
        "isPlaceRecommendationReplace": "true",
        "lang": "ko",
    }
    headers = {
    'user-agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/101.0.4951.41 Safari/537.36'
    }
    response = requests.get(url, params = payload,headers = headers)
    x = response.json()['result']['place']['list']
    return x

In [14]:
lst = []
gus = ['종로구','중구','용산구','성동구',
'광진구','동대문구','중랑구','성북구',
'강북구','도봉구','노원구','은평구',
'서대문구','마포구','양천구','강서구',
'구로구','금천구','영등포구','동작구',
'관악구','서초구','강남구','송파구','강동구']
for gu in gus:
    for i in range(1,100):
        try:
            lst = lst + naver_map_crawler(gu,"이마트24",i)
            print(i, end = " ")
        except:
            break

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 1 2 3 4 5 6 7 8 9 10 11

In [19]:
df = pd.DataFrame()
for e24 in lst:
    id   = e24["id"]
    name = e24["name"]
    addr = e24["address"].split(" ")
    si   = addr[0]
    gu   = addr[1]
    dong = addr[2]
    lat  = e24["y"]
    lng  = e24["x"]
    x = pd.Series([id,name,si,gu,dong,lat,lng])
    df = df.append(x,ignore_index=True)

In [23]:
df = df.drop_duplicates()
df = df.reset_index()
df = df.drop("index",1)

C:\Users\jjp75\AppData\Local\Temp/ipykernel_12524/3925735642.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df = df.drop("index",1)

,level_0,0,1,2,3,4,5,6
0,0,37175047,이마트24 청계천점,서울특별시,종로구,서린동,37.5692629,126.9814912
1,1,18664383,이마트24 광화문시대점,서울특별시,종로구,내수동,37.5738307,126.9733380
2,2,1627218738,이마트24 R종로성대점,서울특별시,종로구,명륜2가,37.5838980,126.9977790
3,3,1702819856,이마트24 종로동묘점,서울특별시,종로구,창신동,37.5712413,127.0155006
4,4,1090493801,이마트24 종로창신점,서울특별시,종로구,창신동,37.5706511,127.0127198
...,...,...,...,...,...,...,...,...
819,819,38290421,이마트24 봉천태양점,서울특별시,관악구,봉천동,37.4844550,126.9488085
820,820,1835222752,이마트24 서울대입구역점,서울특별시,관악구,봉천동,37.4804756,126.9555208
821,821,1515056129,이마트24 숭실대형남공학관점,서울특별시,동작구,상도동,37.4957377,126.9560519
822,822,1082306594,이마트24 숭실대역점,서울특별시,동작구,상도동,37.4949311,126.9541945
823,823,92538493,이마트24 관악중앙점,서울특별시,관악구,봉천동,37.4755770,126.9545253

In [24]:
df2 = df.drop("level_0",1)

C:\Users\jjp75\AppData\Local\Temp/ipykernel_12524/771660349.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df2 = df.drop("level_0",1)

              0                1      2    3     4           5            6
0      37175047       이마트24 청계천점  서울특별시  종로구   서린동  37.5692629  126.9814912
1      18664383     이마트24 광화문시대점  서울특별시  종로구   내수동  37.5738307  126.9733380
2    1627218738     이마트24 R종로성대점  서울특별시  종로구  명륜2가  37.5838980  126.9977790
3    1702819856      이마트24 종로동묘점  서울특별시  종로구   창신동  37.5712413  127.0155006
4    1090493801      이마트24 종로창신점  서울특별시  종로구   창신동  37.5706511  127.0127198
..          ...              ...    ...  ...   ...         ...          ...
819    38290421      이마트24 봉천태양점  서울특별시  관악구   봉천동  37.4844550  126.9488085
820  1835222752    이마트24 서울대입구역점  서울특별시  관악구   봉천동  37.4804756  126.9555208
821  1515056129  이마트24 숭실대형남공학관점  서울특별시  동작구   상도동  37.4957377  126.9560519
822  1082306594      이마트24 숭실대역점  서울특별시  동작구   상도동  37.4949311  126.9541945
823    92538493      이마트24 관악중앙점  서울특별시  관악구   봉천동  37.4755770  126.9545253

[824 rows x 7 columns]

In [25]:
df3 = df2.set_axis(['id','매장명','시','구','동','위도','경도'],1,inplace=False)

C:\Users\jjp75\AppData\Local\Temp/ipykernel_12524/4180545046.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.set_axis except for the argument 'labels' will be keyword-only
  df3 = df2.set_axis(['id','매장명','시','구','동','위도','경도'],1,inplace=False)

             id              매장명      시    구     동          위도           경도
0      37175047       이마트24 청계천점  서울특별시  종로구   서린동  37.5692629  126.9814912
1      18664383     이마트24 광화문시대점  서울특별시  종로구   내수동  37.5738307  126.9733380
2    1627218738     이마트24 R종로성대점  서울특별시  종로구  명륜2가  37.5838980  126.9977790
3    1702819856      이마트24 종로동묘점  서울특별시  종로구   창신동  37.5712413  127.0155006
4    1090493801      이마트24 종로창신점  서울특별시  종로구   창신동  37.5706511  127.0127198
..          ...              ...    ...  ...   ...         ...          ...
819    38290421      이마트24 봉천태양점  서울특별시  관악구   봉천동  37.4844550  126.9488085
820  1835222752    이마트24 서울대입구역점  서울특별시  관악구   봉천동  37.4804756  126.9555208
821  1515056129  이마트24 숭실대형남공학관점  서울특별시  동작구   상도동  37.4957377  126.9560519
822  1082306594      이마트24 숭실대역점  서울특별시  동작구   상도동  37.4949311  126.9541945
823    92538493      이마트24 관악중앙점  서울특별시  관악구   봉천동  37.4755770  126.9545253

[824 rows x 7 columns]

In [26]:
df_final = df3.drop("id",1)
df_final

C:\Users\jjp75\AppData\Local\Temp/ipykernel_12524/3985160653.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df_final = df3.drop("id",1)

                 매장명      시    구     동          위도           경도
0         이마트24 청계천점  서울특별시  종로구   서린동  37.5692629  126.9814912
1       이마트24 광화문시대점  서울특별시  종로구   내수동  37.5738307  126.9733380
2       이마트24 R종로성대점  서울특별시  종로구  명륜2가  37.5838980  126.9977790
3        이마트24 종로동묘점  서울특별시  종로구   창신동  37.5712413  127.0155006
4        이마트24 종로창신점  서울특별시  종로구   창신동  37.5706511  127.0127198
..               ...    ...  ...   ...         ...          ...
819      이마트24 봉천태양점  서울특별시  관악구   봉천동  37.4844550  126.9488085
820    이마트24 서울대입구역점  서울특별시  관악구   봉천동  37.4804756  126.9555208
821  이마트24 숭실대형남공학관점  서울특별시  동작구   상도동  37.4957377  126.9560519
822      이마트24 숭실대역점  서울특별시  동작구   상도동  37.4949311  126.9541945
823      이마트24 관악중앙점  서울특별시  관악구   봉천동  37.4755770  126.9545253

[824 rows x 6 columns]

In [27]:
df_final.to_csv("seoul_emart24.csv")